<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="menu-icon" aria-label="Menu" (click)="navSrv.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
        <span class="spacer"></span>
        <div *ngIf="afAuth.user | async as user; else showLogin">
            <button mat-raised-button (click)="authService.signOut()">Sign out</button>
        </div>
        <ng-template #showLogin>
            <button mat-raised-button routerLink="/auth/signin">Sign in</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
