rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {

        match /users/{userId} {
            allow read: if true;
            allow write: if belongsTo(userId);
        }

        match /posts/{postId} {
            allow read: if true;
            allow create: if request.auth != null && request.resource.contentType.matches('image/.*');
            allow delete, update: if belongsTo(resource.data.authorId);
        }

        match /{allPaths=**} {
            allow read, write: if false;
        }

        function belongsTo(userId) {
            return request.auth.uid == userId
        }
    }
}
