<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Change Email</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
        <input matInput placeholder="Update your  email" [formControl]="email" required />
        <mat-icon matSuffix (click)="clear()">close</mat-icon>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)"
            >Please enter a valid email.
        </mat-error>
    </mat-form-field>

    <mat-action-row>
        <button mat-button (click)="changeEmail()" [disabled]="email.invalid">Save</button>
    </mat-action-row>
</mat-expansion-panel>
