mat-form-field {
  width: 100%;
}
.photoURL {
  border-radius: 50%;
  border: 2px solid white;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  float: right;
  margin-right: 15px;
}
.photoURL:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}
.photoURL label {
  display: inline-block;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}
.uploadPhoto {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.hero {
  background-color: var(--app-primary-color);
  color: white;
  min-height: 200px;
  padding-top: 15px;
}
.hero-text {
  margin-left: 15px;
}
mat-card {
  margin: 10px;
  max-width: 600px;
  margin: 16px auto;
}