<ng-container *ngIf="user">

  <div [hidden]="editing">
    <div class="hero">
      <div class="photoURL" [ngStyle]="{'background-image': 'url(' + user.photoURL + ')'}">
        <input type="file" accept="image/*" name="file" id="file" class="uploadPhoto" (change)="uploadPhotoURL($event)">
        <label for="file">Change Photo</label>
      </div>
      <div class="hero-text">
        <h1>{{user.displayName}}</h1>
        <p>{{user.email}}</p>
        <br><br>
        <button mat-button (click)="editing=true" *ngIf="!editing">Edit Profile</button>
      </div>
    </div>
    <mat-card>
      <h3>Add Photo</h3>
      <app-upload [path]="path" [meta]="meta" [uploadType]="uploadType"></app-upload>
    </mat-card>
    <app-post-dashboard></app-post-dashboard>
  </div>

  <div [hidden]="!editing">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Update your name" [(ngModel)]="user.displayName">
        <mat-icon matSuffix (click)="updateProfile()">save</mat-icon>
        <mat-hint align="end">Save</mat-hint>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Update your email" [(ngModel)]="user.email">
        <mat-icon matSuffix (click)="updateEmail()">save</mat-icon>
        <mat-hint align="end">Save</mat-hint>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <form (ngSubmit)="updateUser()">
        <mat-form-field>
          <input matInput placeholder="Update you website" name="website" [(ngModel)]="user.website">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Update you location" name="location" [(ngModel)]="user.location">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Update you bio" name="bio" [(ngModel)]="user.bio"></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit" color="accent">Save</button>
        <button mat-button (click)="editing=false" *ngIf="editing">Cancel</button>
      </form>
    </mat-card>

  </div>

</ng-container>