<main>
    <section>
        <h2>Create your account</h2>
        <p>
            Already have an account?
            <a routerLink="../signin">Click here to sign in.</a>
        </p>

        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <mat-form-field [formGroup]="signUpForm">
                <input matInput placeholder="Enter you email" [formControl]="email" required />
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)"
                    >Not a valid email
                </mat-error>
            </mat-form-field>

            <br />
            <mat-form-field [formGroup]="signUpForm">
                <input
                    matInput
                    placeholder="Enter you password"
                    [type]="hide ? 'password' : 'text'"
                    [formControl]="password"
                    required
                />

                <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? "visibility" : "visibility_off"
                }}</mat-icon>
                <mat-hint *ngIf="password.dirty"
                    >Use capital and lowercase letters & numbers
                </mat-hint>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)"
                    >Not a valid password</mat-error
                >
            </mat-form-field>
            <br />
            <button
                mat-raised-button
                type="submit"
                [disabled]="email.invalid || password.invalid"
                color="accent"
            >
                Sign up
            </button>
        </form>

        <button mat-raised-button (click)="sendLink()" [disabled]="email.invalid" color="accent">
            Sign up without password
        </button>
        <hr />
        <button mat-raised-button (click)="google()">Continue with Google</button>
    </section>
</main>
