<main>
    <section>
        <h2>Forgot your password?</h2>
        <p>Enter your email to reset.</p>

        <mat-form-field>
            <input matInput placeholder="Enter you email" [formControl]="email" required />
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)"
                >Please enter a valid email.
            </mat-error>
        </mat-form-field>

        <button
            mat-raised-button
            (click)="resetPassword()"
            [disabled]="email.invalid"
            color="accent"
        >
            Reset Password
        </button>
        <button mat-raised-button routerLink="/signin">Cancel</button>
    </section>
</main>
