mat-expansion-panel {
    margin-top: 2em;
}
mat-form-field {
    width: 100%;
    margin-top: 2em;
}
mat-progress-bar {
    width: 100px;
}
.photoURL {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    height: 100px;
    width: 100px;
    background-color: rgba(32, 32, 32, 0.5);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all 0.3s ease;
    text-decoration: none;
}
.photoURL:hover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
}
.uploadPhoto {
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
