:root {
  --app-background-color: #f6f6f6;
  --app-primary-color: #263238;
  --app-accent-color: #ff5252;
}
body {
  margin: 0;
  background-color: var(--app-background-color);
}
.spacer {
  flex: 1 1 auto;
}