@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --app-background-color: #f6f6f6;
  --app-primary-color: #E34234;
}
body {
  margin: 0;
  background-color: var(--app-background-color);
}
.spacer {
  flex: 1 1 auto;
}