@use '~@angular/material' as mat;
// add this to the `theme.scss` file

@include mat.core();

$ngFire-app-primary: mat.define-palette(mat.$blue-grey-palette, 900);
$ngFire-app-accent:  mat.define-palette(mat.$red-palette, A200);

$ngFire-app-warn:    mat.define-palette(mat.$red-palette);

$ngFire-app-theme: mat.define-light-theme($ngFire-app-primary, $ngFire-app-accent, $ngFire-app-warn);

@include mat.all-component-themes($ngFire-app-theme);